{
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}
