<footer class="site-footer border-t mt-auto">
  <div class="container mx-auto px-4 py-4 max-w-4xl text-center text-gray-400">
    <small>
      &copy; <%= Time.now.year %> — ydah
    </small>
  </div>
</footer>
