@font-face {
  font-family: 'Audrey';
  src: url(~/assets/fonts/Audrey.otf) format('otf'),
    url(~/assets/fonts/Audrey.ttf) format('truetype');
}

@font-face {
  font-family: 'AntroVectra';
  src: url(~/assets/fonts/Antro_Vectra.otf) format('otf');
}
